body.kcBodyClass {
    background: url(./assets/background.jpg);
}

div.kc-logo-text {
    background-image: none;
}

h1#kc-page-title > div {
    background-color: #8b6556;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05);
}

div.kcFormCardClass.card-pf {
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 10px solid;
    border-color: #8b6556;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05);
}

input#kc-login {
    color: white;
    background-color: #8b6556;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.05);
}

div.kcFormGroupClass.form-group {
    background-color: white;
}
